@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p> @ViewData["index0"]</p>
    <p> @ViewData["index1"]</p>
    <p> @ViewData["index2"]</p>
</div>